.footer{
    color : blue;
    background-color: yellow;
}
body{
    color : blue;
}
div{
    border : 2px solid red;
}
header nav ul {
    list-style: none;

}
header nav ul li {
    display: inline-block;
}